body {
    background-color: #000;
    overflow-y: hidden;
}

div {
    width: 30px;
    height: 30px ;
    display: inline-block !important;
    background-color: #ff0369;
    border-radius:0px 0px 20px 20px;
    -moz-border-radius:0px 0px 20px 20px;
    -webkit-border-radius:0px 0px 20px 20px;   
    box-shadow: inset 5px 0px 0px rgba(0, 0, 0, 0.55);
}
header {
    background-color: #000;
    color: #00ff00;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 10PX;
    font-family: Comic Sans MS;
}

